* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #100f0f;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #888787;
}

.container {
    text-align: center;
    background-color: black;
    padding: 20px;  
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #888787;
}